@using Kendo.Mvc.UI;
@using Index.Commons;

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="view-title">
                    <div class="view-logo"><img src="@Url.Content("~/Content/Images/Headers/ProductWhite.png")" /></div>
                    <div class="view-text">Catálogo de productos</div>
                </div>
            </div>
            <div class="panel-body">
                @(Html.Kendo().Grid<Item>()
                    .Name("grdCrud")
                    .Columns(c =>
                    {
                        c.Bound(p => p.Id).Hidden(true);
                        c.Bound(p => p.DisplayProductName).Width(300).Filterable(f => f.Cell(r => r.Operator("contains")));
                        c.Bound(p => p.Description).Width(500).Filterable(f => f.Cell(r => r.Operator("contains")));
                        c.Bound(p => p.HasFormula).Width(100).Filterable(false).ClientTemplate("<div style='width:100%;text-align:center;'><input type='checkbox' disabled #= (HasFormula) ? 'checked' : '' #></div>");
                        c.Bound(p => p.DisplayAccountingItemName).Width(700).Filterable(f => f.Cell(r => r.Operator("contains")));
                        c.Bound(p => p.Name).Width(25).Filterable(false).Title(" ").Locked(true).Lockable(false)
                            .ClientTemplate("<a style='cursor:pointer;' onclick='showWindow(\"#=DisplayProductName#\",#=Id#);'><img style='width: 25px;' title='Asignar Formula' src='" + @Url.Content("~/Content/Images/Menu/Formula.png") + "' /></a>");
                        c.Bound(p => p.DisplayProductName).Width(42).Filterable(false).Title(" ").Locked(true).Lockable(false)
                            .ClientTemplate("<a class='k-button k-button-icontext' href='javascript:showTemplateWindow(#=Id#);'><span class='k-icon k-edit'></span> </a>");
                        c.Bound(p => p.Active).Width(100).Filterable(f => f.Multi(true).Search(true)).ClientTemplate("<input type='checkbox' #=(Active == true) ? 'checked' : ''#  disabled/>");
                        c.Command(cmd =>
                        {
                            cmd.Destroy().Text(" ");
                        }).Width(100).Locked(true).Lockable(false);
                    })
                    .Editable(e =>
                    {
                        e.Mode(GridEditMode.PopUp)
                         .DisplayDeleteConfirmation("¿Se encuentra realmente seguro de eliminar el registro?")
                         .TemplateName("Template")
                         .Window(w =>
                            w.Title("Formulario de información de productos")
                            .Width(700)
                         );
                    })
                    .ToolBar(t =>
                    {
                        t.Custom().Text("Nuevo").HtmlAttributes(new { @class = "k-primary", @href = "javascript:showTemplateWindow(0);" });
                    })
                    .Pageable(p =>
                    {
                        p.Refresh(true);
                    })
                    .Scrollable()
                    .Filterable(f =>
                    {
                        f.Mode(GridFilterMode.Row);
                    })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(m =>
                        {
                            m.Id(o => o.Id);
                        })
                        .Read(r => r.Action("Read", "Producto"))
                        .Destroy(d => d.Action("Delete", "Producto"))
                        .Events(e =>
                        {
                            e.Error("errorHandler");
                            e.RequestEnd("onRequestEndProduct");
                        })
                     )
                )
            </div>
        </div>
    </div>
</div>
@(Html.Kendo().Window()
    .Name("asignarFormula")
    .Title("Asignar formula a producto")
    .Width(700)
    .Height(400)
    .Modal(true)
    .Iframe(true)
    .Visible(false)
    .Actions(a =>
    {
        a.Maximize();
        a.Close();
    })
)

@(Html.Kendo().Window()
    .Name("templateWindow")
    .Title("Formulario de información de producto")
    .Width(700)
    .Height(500)
    .Modal(true)
    .Iframe(true)
    .Visible(false)
    .Actions(a =>
    {
        a.Maximize();
        a.Close();
    })
)

<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"
         style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>
<script>
    var validationMessageTmpl = kendo.template($("#message").html());

    function errorHandler(args) {
        if (typeof args.errors === "string") {
            onErrorGeneral(args.errors);
        }
        if (args.errors) {
            var grid = $("#grdCrud").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                for (var error in args.errors) {
                    showMessage(grid.editable.element, error, args.errors[error].errors);
                }
            });
        }
        if (args.errors.errorGeneral) {
            wnd = $("#modalWindowAlert").kendoWindow({
                title: "Error",
                modal: true,
                visible: false,
                resizable: false,
                width: 300
            }).data("kendoWindow");

            $("#yes").hide();
            $("#no").hide();
            $("#confirmMessage").html(args.errors.errorGeneral.errors[0]);
            wnd.center().open();
        }
    }

    function onRequestEndProduct(e) {
        wnd = $("#modalWindowAlert").kendoWindow({
            title: "Confirmaci&oacute;n",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        $("#yes").hide();
        $("#no").hide();

        if (e.type == "destroy" && !e.response.Errors) {
            $("#confirmMessage").html("Registro eliminado exitosamente");
            wnd.center().open();
            this.read();
        }

        if (e.type == "update" && !e.response.Errors) {
            $("#confirmMessage").html("Registro actualizado exitosamente");
            wnd.center().open();
            this.read();
        }

        if (e.type == "create" && !e.response.Errors) {
            wizName = e.response.Data[0].Name;
            this.read();
            $("#loading").fadeIn();

            setTimeout(function () {
                var DataSource = $("#grdCrud").data("kendoGrid").dataSource.data();
                wizId = dataSourceBrowser(DataSource, 'Name', wizName, 'Id');

                if (wizId != null) {
                    OpenWizzard = true;
                    showWindow(wizName, wizId);
                }
                else {
                    $("#confirmMessage").html("Registro agregado exitosamente");
                    wnd.center().open();
                    $("#loading").fadeOut();
                }
            }, 700);
        }
    }

    function showMessage(container, name, errors) {
        container.find("[data-valmsg-for=" + name + "],[data-val-msg-for=" + name + "]")
                 .replaceWith(validationMessageTmpl({ field: name, message: errors[0] }))
    }

    function showWindow(fullname, idmainitem) {
        $("#loading").fadeIn();
        window.location.href = "@Url.Action("Router","Formula")" + "?IdMainItem=" + idmainitem + "&MainItem=" + fullname;
    }

    function cmbAccountingItemData() {
        return {
            IdResolution: $("#IdResolucion").data("kendoDropDownList").value()
        };
    }

    function IdUnitMeasurementSelect(e) {
        $("#IdResolucion").data("kendoDropDownList").open();
    }

    function IdResolucionSelect(e) {
        $("#loading").fadeIn();
        $("#IdAccountingItem").data("kendoDropDownList").open();
    }

    function IdAccountingItemDataBound(e){
        $("#loading").fadeOut();
    }

    function IdAccountingItemSelect(e) {
        $(".k-button.k-button-icontext.k-primary.k-grid-update").focus();
    }

    function callWizard(productname){
        wizName = productname;
        $("#grdCrud").data("kendoGrid").dataSource.read();
        $("#loading").fadeIn();

        setTimeout(function () {
            var DataSource = $("#grdCrud").data("kendoGrid").dataSource.data();
            wizId = dataSourceBrowser(DataSource, 'Name', wizName, 'Id');

            if (wizId != null) {
                OpenWizzard = true;
                showWindow(wizName, wizId);
            }
            else {
                $("#confirmMessage").html("Registro agregado exitosamente");
                wnd.center().open();
                $("#loading").fadeOut();
            }
        }, 700);
    }

    function showTemplateWindow(iditem) {
        $("#loading").fadeIn();
        var win = $("#templateWindow").data("kendoWindow");
        win.refresh({ url: "@Url.Action("Template", "Producto")" + "?IdProduct=" + iditem, data: null });

        setTimeout(function () {
            win.center();
            win.open();
            $("#loading").fadeOut();
        }, 3000);
    }
</script>