@using Kendo.Mvc.UI;
@using Index.Commons;

@{
    ViewBag.Title = "Formula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="view-title">
                    <div class="view-logo"><img src="@Url.Content("~/Content/Images/Headers/FormulaWhite.png")" /></div>
                    <div class="view-text">Catálogo de formulas del producto @ViewBag.MainItem</div>
                </div>
            </div>

            <div class="panel-body">
                @(Html.Kendo().Grid<Formula>()
                    .Name("grdCrud")
                    .Columns(c =>
                    {
                        c.Bound(p => p.Id);
                        c.Bound(p => p.IdCustomer).Hidden(true);
                        c.Bound(p => p.IdMainItem).Hidden(true);
                        c.Bound(p => p.IdDetailItem).Hidden(true);
                        c.Bound(p => p.DisplayDetailItem).Width(250).Filterable(f => f.Cell(r => r.Operator("contains")));
                        c.Bound(p => p.Quantity).Width(150).Filterable(false).ClientTemplate("#=kendo.toString(Quantity,'n6')#");
                        c.Bound(p => p.Decrease).Width(150).Filterable(false).ClientTemplate("#=kendo.toString(Decrease,'n6')#");
                        c.Bound(p => p.DisplayDetailAccountingItem).Width(700).Filterable(f => f.Cell(r => r.Operator("contains")));
                        c.Bound(p => p.Active).Width(100).Filterable(f=>f.Multi(true).Search(true)).ClientTemplate("<input type='checkbox' #=(Active == true) ? 'checked' : ''#  disabled/>");
                        c.Command(cmd =>
                        {
                            cmd.Edit().Text(" ");
                            cmd.Destroy().Text(" ");
                        }).Width(100).Locked(true).Lockable(false);
                    })
                    .Editable(e =>
                    {
                        e.Mode(GridEditMode.PopUp)
                         .DisplayDeleteConfirmation("¿Se encuentra realmente seguro de eliminar el registro?")
                         .TemplateName("Template")
                         .Window(w =>
                            w.Title("Formulario de información de formulas")
                            .Width(700)
                         );
                    })
                    .ToolBar(t =>
                    {
                        t.Create().Text("Nuevo").HtmlAttributes(new { @class = "k-primary" });
                    })
                    .Pageable(p =>
                    {
                        p.Refresh(true);
                    })
                    .Scrollable()
                    .Filterable(f =>
                    {
                        f.Mode(GridFilterMode.Row);
                    })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(m =>
                        {
                            m.Id(o => o.Id);
                        })
                        .Read(r => r.Action("Read", "Formula"))
                        .Create(c => c.Action("Create", "Formula"))
                        .Update(u => u.Action("Update", "Formula"))
                        .Destroy(d => d.Action("Delete", "Formula"))
                        .Events(e =>
                        {
                            e.Error("errorHandler");
                            e.RequestEnd("onRequestEnd");
                        })
                     )
                )
            </div>
        </div>
    </div>
</div>
@(Html.Kendo().Window()
    .Name("asignarFormula")
    .Title("Asignar formula a producto")
    .Width(700)
    .Height(400)
    .Modal(true)
    .Iframe(true)
    .Visible(false)
    .Actions(a =>
    {
        a.Maximize();
        a.Close();
    })
)

<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"
         style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>
<script>
    var validationMessageTmpl = kendo.template($("#message").html());
    function errorHandler(args) {
        if (typeof args.errors === "string") {
            onErrorGeneral(args.errors);
        }
        if (args.errors) {
            var grid = $("#grdCrud").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                for (var error in args.errors) {
                    showMessage(grid.editable.element, error, args.errors[error].errors);
                }
            });
        }
        if (args.errors.errorGeneral) {
            wnd = $("#modalWindowAlert").kendoWindow({
                title: "Error",
                modal: true,
                visible: false,
                resizable: false,
                width: 300
            }).data("kendoWindow");

            $("#yes").hide();
            $("#no").hide();
            $("#confirmMessage").html(args.errors.errorGeneral.errors[0]);
            wnd.center().open();
        }
    }

    function showMessage(container, name, errors) {
        container.find("[data-valmsg-for=" + name + "],[data-val-msg-for=" + name + "]")
                 .replaceWith(validationMessageTmpl({ field: name, message: errors[0] }))
    }

    function showWindow(fullname, idmainitem) {
        var win = $("#asignarFormula").data("kendoWindow");
        win.refresh({ url: "@Url.Action("AsignarFormula", "Producto")", data: { IdMainItem: idmainitem } });
        win.title('Asignar cuentas a ' + fullname);
        win.center();
        win.open();
    }

    function IdDetailItemSelect(e) {
        $('#Quantity').siblings('input:visible').focus();
    }

    function QuantityChange(e) {
        $('#Decrease').siblings('input:visible').focus();
    }

    function DecreaseChange(e) {
        $(".k-button.k-button-icontext.k-primary.k-grid-update").focus();
    }
</script>