@using Kendo.Mvc.UI

@{ 
    Layout = null;
}

@(Html.Kendo().TabStrip()
        .Name("tbsChangePassword")
        .Animation(a =>
        {
            a.Open(e => e.Fade(FadeDirection.In));
        })
        .Items(i =>
        {
        i.Add().Text("Autenticación").Selected(true)
                .Content(@<text>
                    <div style="width:100%;display:inline-block;">
                        <div class="col-11">
                            <div class="col-11">
                                <div class="col-3 title">Usuario</div>
                                <div class="col-8 item">
                                    @(Html.Kendo().TextBox()
                                        .Name("chngUsername")
                                        .HtmlAttributes(new { Style = "width:100%;", @readonly = "readonly" })
                                        .Value(Session["STRUSERNAME"].ToString())
                                    )
                                    <div id="errorDiv_chngUsername" class="error"></div>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="col-3 title">Password</div>
                                <div class="col-8 item">
                                    @(Html.Kendo().TextBox()
                                        .Name("chngPassword")
                                        .HtmlAttributes(new { type = "password", Style = "width:100%;" })
                                    )
                                    <div id="errorDiv_chngPassword" class="error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-11" style="text-align:center;">
                            @(Html.Kendo().Button()
                                .Name("btnChngLogin")
                                .Content("Autenticar")
                                .HtmlAttributes(new { @class="k-primary", onclick= "chngAuth();" })
                            )
                            &nbsp;&nbsp;
                            @(Html.Kendo().Button()
                                .Name("btnChngCancelAuth")
                                .Content("Cancelar")
                                .HtmlAttributes(new { onclick = "chngCancel();" })
                            )
                        </div>
                    </div>
                </text>);
        i.Add().Text("Cambio de password").Enabled(false)
                .Content(@<text>
                    <div style="width:100%;display:inline-block;">
                        <div class="col-11">
                            <div class="col-11">
                                <div class="col-3 title">Nuevo: </div>
                                <div class="col-8 item">
                                    @(Html.Kendo().TextBox()
                                        .Name("chngNewPassword")
                                        .HtmlAttributes(new { type = "password",  Style = "width:100%;" })
                                    )
                                    <div id="errorDiv_chngNewPassword" class="error"></div>
                                </div>
                            </div>
                            <div class="col-11">
                                <div class="col-3 title">Confirmar: </div>
                                <div class="col-8 item">
                                    @(Html.Kendo().TextBox()
                                        .Name("chngConfirmPassword")
                                        .HtmlAttributes(new { type = "password", Style = "width:100%;" })
                                    )
                                    <div id="errorDiv_chngConfirmPassword" class="error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-11" style="text-align:center;">
                            @(Html.Kendo().Button()
                                .Name("btnChngConfirm")
                                .Content("Confirmar")
                                .HtmlAttributes(new { @class = "k-primary", onclick = "chngConfirm();" })
                            )
                            &nbsp;&nbsp;
                            @(Html.Kendo().Button()
                                .Name("btnChngCancelConfirm")
                                .Content("Cancelar")
                                .HtmlAttributes(new { onclick = "chngCancel();" })
                            )
                        </div>
                    </div>
                </text>);
        })
)

<script>
    function chngAuth() {
        var user = $("#chngUsername").val();
        var pass = $("#chngPassword").val();

        if ((user == "" || user == null) || (pass == "" || pass == null)) {
            $("#errorDiv_chngPassword").html("Debe ingresar las credenciales de autenticación.");
        }
        else {
            $("#loading").fadeIn();
            var result = wsExecute('GET', 'json', '@Url.Action("jsonLogin", "Seguridad")', { Username: user, Password: pass }, false);

            setTimeout(function () {
                if (result === true) {
                    var tabStrip = $("#tbsChangePassword").data("kendoTabStrip");
                    tabStrip.enable(tabStrip.tabGroup.children("li:eq(0)"), false);
                    tabStrip.enable(tabStrip.tabGroup.children("li:eq(1)"), true);
                    tabStrip.select(tabStrip.tabGroup.children("li").eq(1));
                }
                else {
                    $("#errorDiv_chngPassword").html("Crendenciales incorrectas.");
                }

                $("#loading").fadeOut();
            }, 2000);
        }
    }

    function chngCancel() {
        $("#changePassword").data("kendoWindow").close();
    }

    function chngConfirm() {
        var user = $("#chngUsername").val();
        var pass = $("#chngNewPassword").val();
        var conf = $("#chngConfirmPassword").val();

        if ((conf == "" || conf == null) || (pass == "" || pass == null)) {
            $("#errorDiv_chngConfirmPassword").html("Debe ingresar la nueva contraseña.");
        }
        else {
            if (conf != pass) {
                $("#errorDiv_chngConfirmPassword").html("Las contraseñas no coinciden.");
            }
            else {
                $("#loading").fadeIn();
                var result = wsExecute('GET', 'json', '@Url.Action("jsonCambiarPassword", "Seguridad")', { Username: user, Password: pass }, false);

                setTimeout(function () {
                    if (result === true) {
                        window.location.href = "@Url.Action("LogOut", "Seguridad")";
                    }
                    else {
                        $("#errorDiv_chngConfirmPassword").html("Volver a intentar.");
                    }

                    $("#loading").fadeOut();
                }, 2000);
            }
        }
    }
</script>

<style>
    .error {
        color: red;
        font-size: 11px;
    }
</style>