@using System
@using Kendo.Mvc.UI
@{
    Index.Commons.User user = (Index.Commons.User)Session["USERINFO"];
    Index.Commons.Role role = (Index.Commons.Role)Session["ROLEINFO"];
    Index.Commons.Customer customer = new Index.Commons.Customer();
    Index.Commons.Account cuenta = new Index.Commons.Account();

    String actionname = ViewContext.RouteData.Values["action"].ToString();
    String controllername = ViewContext.RouteData.Values["controller"].ToString();

    if (Session["ACCOUNTINFO"] != null)
    {
        cuenta = (Index.Commons.Account)Session["ACCOUNTINFO"];
    }
    if (Session["CUSTOMERINFO"] != null)
    {
        customer = (Index.Commons.Customer)Session["CUSTOMERINFO"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/Images/favicon.ico")" />
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="Index" name="description" />
    <meta content="R&M" name="author" />
    <!-- end: META -->
    <title>Index S.A.</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/TelerikMVC/CSS")
    @Scripts.Render("~/TelerikMVC/JS")
    @Scripts.Render("~/TelerikMVC/CULTURE")
</head>
<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a style="padding:0px;" class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img style="width:150px;" src="@Url.Content("~/Content/Images/LogoIndex00002.png")" />
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="toolbar-container">
                @(Html.Kendo().ToolBar()
                    .Name("HeaderToolbar")
                    .HtmlAttributes(new { @style= "background-color: #dddddd;border: none;" })
                    .Items(i=> {
                        i.Add().Type(CommandType.SplitButton).Id("btnRole").ImageUrl(Url.Content("~/Content/Images/Menu/Roles.png")).Text("Rol").MenuButtons(m => {
                            if (role == null)
                            {
                                m.Add().Text("Seleccionar").Id("tlbRole");
                            }
                            else
                            {
                                m.Add().Text("Cambiar").Id("tlbRole");
                            }
                            m.Add().Text("Cambiar password").Id("tlbChangePass");
                        });
                        i.Add().Type(CommandType.SplitButton).Id("btnAccount").ImageUrl(Url.Content("~/Content/Images/Menu/Cuentas.png")).Text("Cuenta").MenuButtons(m =>
                        {
                            if (cuenta.Name == null)
                            {
                                m.Add().Text("Seleccionar").Id("tlbAccount");
                            }
                            else
                            {
                                m.Add().Text("Cambiar").Id("tlbAccount");
                            }
                        });
                        i.Add().Type(CommandType.SplitButton).Id("btnCustomer").ImageUrl(Url.Content("~/Content/Images/Menu/Cliente.png")).Text("Cliente").MenuButtons(m =>
                        {
                            if (customer.EnterpriseName == null)
                            {
                                m.Add().Text("Seleccionar").Id("tlbCustomer");
                            }
                            else
                            {
                                m.Add().Text("Cambiar").Id("tlbCustomer");
                            }
                        });
                        i.Add().Type(CommandType.Separator);
                        i.Add().Type(CommandType.Button).ImageUrl(Url.Content("~/Content/Images/LogOut.png")).Text("Salir").Id("tlbLogout");
                    })
                )
            </div>
            <div class="info-container">
                @if (user.FirstName != null)
                {
                    if (role != null)
                    {
                        <div class="item user">Usuario: @user.FirstName &nbsp;&nbsp; Rol: @role.Name </div>
                    }
                    else
                    {
                        <div class="item user">Usuario: @user.FirstName</div>
                    }
                }
                @if (cuenta.Name != null)
                {
                    <div class="item account">Cuenta: @cuenta.Name</div>
                }
                @if (customer.EnterpriseName != null)
                {
                    <div class="item enterprise">Cliente: @customer.EnterpriseName</div>
                }
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    
    <div class="body-contianer">
        @(Html.Kendo().Splitter()
            .Name("mainSplitter")
            .HtmlAttributes(new { @style="height:99%;" })
            .Orientation(SplitterOrientation.Horizontal)
            .Events(e=> {
                e.Expand("mainSplitterExpand");
            })
            .Panes(p =>
            {
            p.Add().Collapsible(true).MaxSize("200px").MinSize("180px").Size("200px")
                .HtmlAttributes(new { @style="overflow:visible;z-index:1;", @Id="menuPane" })
                .Content(@<text>
                    @Html.Partial("~/Views/Shared/_LayoutMenu.cshtml")
                </text>);
            p.Add().Content(@<text>
                    <div class="main-container">
                        @RenderBody()
                    </div>
                </text>);
            })
        )
    </div>

    <div class="footer clearfix">
        <div class="footer-inner" style="text-align:center;">
            @DateTime.Now.Year © - Index S.A.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                <img style="width:50px;height:50px;" src="@Url.Content("~/Content/Images/loading.gif")" />
            </p>
        </div>
    </div>
    <div id="modalWindowAlert">
        <h3 id="confirmMessage">Delete?</h3>
        <br /><br /><br /><br /><br />
        <button id="yes" class="k-primary k-button">Si</button>
        <button id="no" class="k-simple k-button">No</button>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@(Html.Kendo().Window()
    .Name("windowChangeRole")
    .Title("Seleccionar rol")
    .Width(650)
    .Modal(true)
    .Visible(false)
    .Actions(a =>
    {
        a.Maximize();
        a.Close();
    })
    .Events(e =>
    {
        e.Close("windowChangeRoleClose");
    })
)

@(Html.Kendo().Window()
    .Name("windowChangeCustomer")
    .Title("Cambiar de cliente")
    .Width(650)
    .Modal(true)
    .Visible(false)
    .Actions(a =>
    {
        a.Maximize();
        a.Close();
    })
    .Events(e=> {
        e.Close("windowChangeCustomerClose");
    })
)

@(Html.Kendo().Window()
    .Name("roleDisplay")
    .Title("Rol seleccionado")
    .Width(400)
    .Height(100)
    .Modal(true)
    .Visible(false)
    .Content(@<text>
        <div>
            @if (role == null)
            {
                <strong>No existe un rol seleccionado.</strong>
            }
            else
            {
                <strong>Rol seleccionado: </strong>@role.Name
            }
        </div>
    </text>)
    .Actions(a =>
    {
        a.Close();
    })
)

@(Html.Kendo().Window()
    .Name("accountDisplay")
    .Title("Cliente seleccionado")
    .Width(400)
    .Height(100)
    .Modal(true)
    .Visible(false)
    .Content(@<text>
        <div>
            @if (cuenta.Name == null)
            {
                <strong>No existe una cuenta seleccionada.</strong>
            }
            else
            {
                <strong>Cuenta seleccionada: </strong>@cuenta.Name
            }
        </div>    
    </text>)
    .Actions(a =>
    {
        a.Close();
    })
)

@(Html.Kendo().Window()
    .Name("customerDisplay")
    .Title("Cliente seleccionado")
    .Width(400)
    .Height(100)
    .Modal(true)
    .Visible(false)
    .Content(@<text>
        <div>
            @if (customer.EnterpriseName == null)
            {
                <strong>No existe un cliente seleccionado.</strong>
            }
            else
            {
                <strong>Cliente seleccionado: </strong>@customer.EnterpriseName
            }
        </div>
    </text>)
    .Actions(a =>
    {
        a.Close();
    })
)

@(Html.Kendo().Window()
    .Name("changePassword")
    .Title("Cambio de contraseña")
    .Width(500)
    .Height(260)
    .Modal(true)
    .Visible(false)
    .Actions(a =>
    {
        a.Close();
    })
)

<script type="text/kendo-template" id="message">
    <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"
         style="margin: 0.5em; display: block; " data-for="#=field#" data-valmsg-for="#=field#" id="#=field#_validationMessage">
        <span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div>
    </div>
</script>
<script>
    var validationMessageTmpl = kendo.template($("#message").html());
    function errorHandler(args) {
        if (typeof args.errors === "string") {
            onErrorGeneral(args.errors);
        }
        
        if (args.errors.errorGeneral) {
            wnd = $("#modalWindowAlert").kendoWindow({
                title: "Error",
                modal: true,
                visible: false,
                resizable: false,
                width: 300
            }).data("kendoWindow");

            $("#yes").hide();
            $("#no").hide();
            $("#confirmMessage").html(args.errors.errorGeneral.errors[0]);
            wnd.center().open();
        }
        else if (args.errors) {
            var grid = $("#grdCrud").data("kendoGrid");
            //var grid = this;
            grid.one("dataBinding", function (e) {
                e.preventDefault();
                for (var error in args.errors) {
                    showMessage(grid.editable.element, error, args.errors[error].errors);
                }
            });
            return;
        }

        $("#grdCrud").data("kendoGrid").dataSource.read();
    }

    function showMessageAjax(container, name, errors) {
        container.find("[data-valmsg-for=" + name + "],[data-val-msg-for=" + name + "]")
                 .replaceWith(validationMessageTmpl({ field: name, message: errors[0] }))
    }
</script>

<script>
    $(document).ready(function () {
        kendo.culture("es-GT");
        register_tab_GUID();

        if ("@controllername" != 'Home') {
            setTimeout(function () {
                $(".k-icon.k-collapse-prev").trigger("click");
            }, 100);
        }

        //$(".k-splitbar.k-state-default.k-splitbar-horizontal").hover(function () {
        //    $(".k-icon.k-expand-prev").trigger("click");
        //});

        @*if ("@controllername" == 'Reportes' || "@controllername" == 'Transaccion') {
            if ("@actionname" != "ListaCongelados")
            {
                setTimeout(function () {
                    $(".k-icon.k-collapse-prev").trigger("click");
                    if ("@controllername" == 'Reportes') {
                        $("#StartDate").data("kendoDatePicker").close();
                        setTimeout(function () {
                            $("#StartDate").data("kendoDatePicker").open();
                        }, 500);
                    }
                }, 100);
            }
        }
        else if ("@controllername" != 'Home') {
            setTimeout(function () {
                $(".k-icon.k-collapse-prev").trigger("click");
            }, 5000);
        }*@

        $("#modalWindowAlert").hide();

        if ('@role' == '') {
            roleChange();
        }
        else {
            var credentialresult = wsExecute('GET', 'json', '@Url.Action("GetRequestCustomerCredentials", "Menu")', { 'ControllerName': "@controllername", "ActionName": "@actionname" }, false);
            if (credentialresult === true) {
                if ('@Session["ACCOUNTINFO"]' == '') {
                    accountChange();
                }
                else {
                    if ('@Session["CUSTOMERINFO"]' == '') {
                        customerChange();
                    }
                }
            }
        }

        $("#tlbRole").click(function () {
            roleChange();
        });

        $("#tlbAccount").click(function () {
            accountChange();
        });

        $("#tlbCustomer").click(function () {
            customerChange();
        });

        $("#tlbLogout").click(function () {
            sessionStorage.clear();
            localStorage.clear();
            $("#loading").fadeIn();
            window.location.href = "@Url.Action("Logout","Seguridad")";
        });

        $("#btnRole").click(function () {
            $("#loading").fadeIn();
            var win = $("#roleDisplay").data("kendoWindow");

            setTimeout(function () {
                win.open();
                win.center();
                $("#loading").fadeOut();
            }, 500);
        });

        $("#btnAccount").click(function () {
            $("#loading").fadeIn();
            var win = $("#accountDisplay").data("kendoWindow");

            setTimeout(function () {
                win.open();
                win.center();
                $("#loading").fadeOut();
            }, 500);
        });

        $("#btnCustomer").click(function () {
            var win = $("#customerDisplay").data("kendoWindow");

            setTimeout(function () {
                win.open();
                win.center();
                $("#loading").fadeOut();
            }, 500);
        });

        $("#tlbChangePass").click(function () {
            $("#loading").fadeIn();
            var win = $("#changePassword").data("kendoWindow");
            win.refresh({ url: "@Url.Action("CambiarPassword", "Seguridad")", data: null });

            setTimeout(function () {
                win.open();
                win.center();

                $("#chngPassword").val("");
                $("#chngNewPassword").val("");
                $("#chngConfirmPassword").val("");

                $("#loading").fadeOut();
            }, 4000);
        });

        setInterval(function () {
            var isAlive = wsExecute('GET', 'json', '@Url.Action("IsSessionAlive", "Seguridad")', null, false);
            if (isAlive === false) {
                $("#loading").fadeIn();
                sessionStorage.clear();
                localStorage.clear();
                window.location.href = "@Url.Action("Logout", "Seguridad")";
            }
        }, 60000);
    });

    $(document).keydown(function (e) {
        var keycode;

        if (window.event)
            keycode = window.event.keyCode;
        else if (e)
            keycode = e.which;

        if (keycode == 116 || (e.ctrlKey && keycode == 82)) {
            $("#loading").fadeIn();
        }

        if ("@controllername" === "Transaccion" && "@actionname" === "Index" && keycode == 113) {
            var drop = $('#FileConfig').data('kendoDropDownList');
            var selected = (drop.value() == "") ? false : true;

            if (selected === true) {
                $('#newHeader').trigger('click');
            }
            else {
                drop.wrapper.trigger('click');
            }
        }

        if ("@controllername" === "Transaccion" && "@actionname" === "Detalle") {
            switch (keycode) {
                case 113:
                    $('#newHeader').trigger('click');
                    break;
                case 115:
                    $('#GoBack').trigger('click');
                    break;
                case 117:
                    $('#Attached').trigger('click');
                    break;
                case 120:
                    $('#HeaderEdit').trigger('click');
                    break;
            }
        }
    });

    function windowChangeCustomerClose(e) {
        var credentialresult = wsExecute('GET', 'json', '@Url.Action("GetRequestCustomerCredentials", "Menu")', { 'ControllerName': "@controllername", "ActionName": "@actionname" }, false);
        if ('@cuenta.Name' == '' && credentialresult === true) {
            $("#loading").fadeIn();
            window.location.reload();
        }
    }

    function windowChangeRoleClose(e) {
        $("#loading").fadeIn();
        window.location.reload();
    }

    function mainSplitterExpand(e) {
        setTimeout(function () {
            $("#menuPane").css("overflow", "visible");
        }, 500);

        setTimeout(function () {
            $(".k-icon.k-collapse-prev").trigger("click");
        }, 15000);
    }

    function roleChange() {
        var winRole = $("#windowChangeRole").data("kendoWindow");
        winRole.refresh({ url: "@Url.Action("CambiarRol", "Home")" });

        setTimeout(function () {
            winRole.center();
            winRole.open();
        }, 500);
    }

    function customerChange() {
        var winRole = $("#windowChangeCustomer").data("kendoWindow");
        winRole.refresh({ url: "@Url.Action("CambiarCliente", "Home")" });
        winRole.title('Seleccionar cliente');

        setTimeout(function () {
            winRole.center();
            winRole.open();
        }, 500);
    }

    function accountChange() {
        var winRole = $("#windowChangeCustomer").data("kendoWindow");
        winRole.refresh({ url: "@Url.Action("CambiarCuenta", "Home")" });
        winRole.title('Seleccionar cuenta');

        setTimeout(function () {
            winRole.center();
            winRole.open();
        }, 500);
    }

    function changeRole(idrole) {
        var result = wsExecute('GET', 'json', '@Url.Action("ChangeRole", "Seguridad")', { 'IdRole': idrole }, false);
        if (result == true) {
            $("#loading").fadeIn();
            setTimeout(function () {
                location.reload();
            }, 500);
        }
        else {
            $("#logoutForm").submit();
        }
    }

    function changeCustomer(idperson) {
        var result = wsExecute('GET', 'json', '@Url.Action("ChangeCustomer", "Seguridad")', { 'IdCustomer': idperson }, false);
        if (result == true) {
            $("#loading").fadeIn();
            setTimeout(function () {
                location.reload();
            }, 500);
        }
        else {
            $("#logoutForm").submit();
        }
    }

    function changeAccount(id) {
        var result = wsExecute('GET', 'json', '@Url.Action("ChangeAccount", "Seguridad")', { 'IdAccount': id }, false);
        if (result == true) {
            //location.reload();
            $("#loading").fadeIn();
            var winRole = $("#windowChangeCustomer").data("kendoWindow");
            setTimeout(function () {
                customerChange();
                $("#loading").fadeOut();
            }, 500);
        }
        else {
            $("#logoutForm").submit();
        }
    }

    function SelectMenu(e) {
        if ($($(e.item).children()[0]).attr('href')) {
            $("#loading").fadeIn();
            $("#Menu").focus();
        }
    }

    function register_tab_GUID() {
        if (typeof (Storage) !== "undefined") {
            if (sessionStorage["tabGUID"] == null) {
                var getResult = wsExecute('GET', 'json', '@Url.Action("GetGUID", "Seguridad")', null, false);

                if (getResult === '') {
                    sessionStorage["tabGUID"] = tab_GUID();
                    var guid = sessionStorage["tabGUID"];
                    window.addEventListener("storage", storage_Handler, false);
                    localStorage["tabGUID"] = guid;
                    var setResult = wsExecute('GET', 'json', '@Url.Action("SetGUID", "Seguridad")', { 'guid': guid }, false);
                }
                else {
                    if (getResult != sessionStorage["tabGUID"]) {
                        $("#loading").fadeIn();
                        window.location.href = "@Url.Action("MultiplesTabs", "Error")";
                    }
                }
            }
            else {
                var getResult = wsExecute('GET', 'json', '@Url.Action("GetGUID", "Seguridad")', null, false);
                if (getResult != sessionStorage["tabGUID"]) {
                    $("#loading").fadeIn();
                    window.location.href = "@Url.Action("MultiplesTabs", "Error")";
                }
            }
        }
    }

    function storage_Handler(e) {
        // if tabGUID does not match then more than one tab and GUID
        if (e.key == 'tabGUID') {
            if (e.oldValue != e.newValue) {
                tab_Warning();
            }
        }
    }

    function tab_GUID() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
    }

    function tab_Warning() {
        alert("Another tab is open!");
    }
</script>

<style>
    .k-menu .k-image {
        width: 25px;
    }

    div.menu {
        float: left;
        width: 99%;
    }

    div.main-container {
        float: left;
        width: 94%;
        padding-left:10px;
    }

    .view-title {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        display: inline-block;
    }

        .view-title .view-logo {
            float: left;
            width: 25px;
        }

            .view-title .view-logo img {
                width: 100%;
                height: 100%;
            }

        .view-title .view-text {
            float: left;
            height: 25px;
            font-weight: bolder;
            font-size: 15px;
            margin-left: 15px;
        }

        .view-title .custumer-account {
            float: right;
            font-size: 11px;
        }
</style>